/*

DART 450, Winter 2018
The Grid
Pippin Barr

Styling for square divs with background colour

*/

#appearDiv {
  width: 200px;
  height: 400px;
  background-color: yellow;
  animation: appear 4s ease-out;
  z-index: -1;
  opacity: 0;
}
#innerDiv {
  background-color: green;
  display: none;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(+100vw);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    transform: translatex(0);
  }
}
