
body {
background-color: #c9532b;
}

#appearDiv01 {
  border-radius: 30px;
  width: 90%;
  height: 70%;
  margin: 3% auto;
  padding: 3%;
  background-color: #8fa7b8;
  z-index: -1;
  opacity: 0;
}
#appearDiv02 {
  border-radius: 30px;
  width: 80%;
  height: 10%;
  margin: 3% auto;
  padding: 3%;
  /* float: left; */
  /* position: absolute; */
  bottom: 0;
  background-color: antiquewhite;
  display: none;
}
