/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/


body {
  background-color: green;
}

div {
  font-size: 60px;
  font-family: helvetica;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.faller {
  position: relative;
}
