/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/
.wrapper {
    padding: 10px;
    background: #F02311;
    color: #FFF;
    width: 800px;
    height: 400px;
    text-align: center;
    font: normal 1em Arial;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#title {

  font-size: 32px;
  color: black;

}

.section {
  clear:left;
  float: left;
  width: 25%;
  height: 30px;
  bottom: 0;
}
}
