/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {
  height: 100%;
  padding: 30px;
}

div {
  position: absolute;
  padding: 20px;
  width: 80%;
  top: 800px;
  font-size: 70px;
  color: white;
  background-color: green;
}
