/*

Blast.js template
Pippin Barr

Some basic styling

*/

/* We have this here just to point out that EVERYTHING
we run through .blast() ends up with this class. */
body {
  overflow: hidden;
}

h1 {

margin-left: 20px;
font-size: 80px;
font-family: helvetica;
}
