/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {
  background-color: black;

}

div, button {
  margin: 20px;
}


#intro {
  color: antiquewhite;
  font-size: 40px;
  line-height: 1.5;
}

button {
  width: 100px;
  height: 100px;
  background-color: red;
  font-size: 20px;
}

.messageText {
color: antiquewhite;
font-size: 40px;
}
