/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {
  background-color: black;

}

div{
  padding: 40px
}

#intro {
  color: antiquewhite;
  font-size: 20px;
  font-family: arial;
  line-height: 1.5;



}

button {
  width: 300px;
  height: 300px;
  background-color: red;

}

#button01 {
  font-size: 14px;
}
