@charset "UTF-8";
/* CSS Document */

body {
	height: 100vh;
	overflow: hidden;
}


#wrapper{
	background-color: lightblue;
	height: 100vh;
	transform: rotate(345deg);

}


.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
  display:inline-block;
  padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 40px;
	text-decoration: none;
	color:#152C78;
}

li a:hover:not(.active) {

    color: white;
	/*(text-shadow:#EBCBB5 2px 2px ;*/
}

header{
	width: 100%;
	text-align: center;
}

header a{
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 200px;
	color:#D41912;
	letter-spacing: -1px;
}
