@charset "UTF-8";
/* CSS Document */

body {
	height: 100vh;
	overflow: hidden;
}


#gooeyClock {
	background-color: #c9532b;
	height: 100vh;

}

.nav{
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}

.nav li{
	display:inline;
}

.nav a{
	display:inline-block;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	font-family: "source-code-pro",sans-serif;
	font-weight: 100;
	font-size: 30px;
	text-decoration: none;
	color:#8fa7b8;
}

li a:hover:not(.active) {

	color: white;
	/*(text-shadow:#EBCBB5 2px 2px ;*/
}

header a:hover:not(.active) {
	color: white;
}

header{
	width: 100%;
	text-align: center;
}

header a{
	text-decoration: none;
	font-family: "source-code-pro",sans-serif;
	font-size: 200px;
	font-weight: 100;
	color:#8fa7b8;
}
