@charset "UTF-8";
/* CSS Document */


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

div{
	height: 80%;
}
#wrapper {
	width: 80%;
	position: relative;
	align-content: center;
	margin: 10px auto;
	
	}

section {
	position: relative;
	float: left;
	height: 800px;
	background: linear-gradient(#92b0fc, #6075a9);
	margin-bottom: 2%;
	text-align: center;
	overflow: hidden;
	width: 100%;
	margin-right: 2%;
}

.nav{
    
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding-left: 40px;
	padding-right: 40px;
	font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	text-decoration: none;
	color:#152C78;
}

li a:hover:not(.active) {
   
    color: white;
	text-shadow:#EBCBB5 2px 2px ;
}

header{
	width: 100%;
	text-align: center;
}

header a{
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 80px;
	color:#D41912;
	letter-spacing: -1px;	
}


/*Transitions*/


section#s1{
	background: url(../images/Proposal.jpg) no-repeat center center;
	transition: all 1s;
	background-size: cover;
}

section#s1:hover{
	background: url(../images/Proposal.jpg) no-repeat left center;
	background-size: cover;

}


	section a {
		background: rgba( 0,0,0,0.40);
		color: ghostwhite;
    	text-shadow: 2px 2px 4px #000000;
		font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
		position: absolute;
		font-size: 40px;
		padding-top: 90px;
		text-decoration: none;
		width: 100%;
		height: 100%;
		margin: auto;
		display: block;
		text-align: center center;
		bottom: -1000px;
		
		
		
}
	
	section:hover a{
		bottom:0;
	}

