/*

Blast.js template
Pippin Barr

Some basic styling

*/

/* We have this here just to point out that EVERYTHING
we run through .blast() ends up with this class. */



div {
  margin: 20px;
  font-size: 30px
}


a, a:hover, a:visited {
  color: #000;
  text-decoration: underline;
}
.blast {
  background-color: #ccc;
}
