
/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {
  height: 100%;
  background-color: #8fa7b8;
}

div {
  position: absolute;
}

#paragraph {
  padding-top: 100px;
  padding-left: 100px;
  width: 60%;
  font-family: arial, sans-serif;
  font-size: 90px;
  color: #c9532b;
}
