/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {
  height: 100%;
  background-color: #c9532b;
}

div {
  position: absolute;
}

#paragraph {
  padding-top: 100px;
  padding-left: 100px;
  width: 1000px;
  font-family: "source-code-pro", light;
  font-size: 70px;
  color: #8fa7b8;
}
