/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/
.trail { /* className for the trail elements */
    position: absolute;
    height: 100px; width: 100px;
    border-radius: 50px;
    background: lightblue;
    /* -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 30px white; */
  }
