/*

DART 450, Winter 2018
Midterm Project
Gavin Park

Some description of the CSS styling

*/

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}




h1 {
  
  color: antiquewhite;
  text-align: center;
  font-size: 60px;
  font-family: "source-code-pro", arial;
  font-weight: 200;
}
