/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {
}

#email {
  position: absolute;
  height:90%;
  width:auto;
  display: block;
  z-index: -1;
}


button {
  position: absolute;
  height: 12%;
  width: auto;
  width: auto;
  font-size: 70px;
  bottom: 20%;
  color: red;
}

}
