/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

html, body {
height: 100%;
width: 100%
}

.email {
  position: absolute;
  height:80%;
  width:auto;
  display: block;
  z-index: -1;
}


button {
  position: absolute;
  height: 100px;
  width: 400px;
  height: 100px;
  width: auto;
  font-size: 70px;
  bottom: 20%;
}

}
