/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {
  width: 100%;
  width: 100%;
}

#email {
  position: absolute;
  height:100%;
  width:auto;
  z-index: -1;
}
#finalImage {
  position: absolute;
  height: 90%;
  width: auto;
  z-index: +100
}

.futureImages {
  max-width: 500px;
  width: auto;
}

p {
  position: absolute;
  font-family: helvetica;
  font-size: 60px;
  color: blue;
  top: 45%;
  margin-left: 35%;
  z-index: +101;

}
button {
  position: absolute;
  height: 12%;
  width: auto;
  width: auto;
  font-size: 70px;
  bottom: 20%;
  color: red;
}
